<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>role-manager</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/getLoginStatus.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update">编辑</a>
    </script>

    <script th:inline="none">
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#demo'
                , url: '/permission/listPermission'
                /*,toolbar: '#toolbarDemo'*/
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , page: true //开启分页
                , limit: 10
                , limits: [2, 3, 4, 5]
                , id: 'demo'
                , cols: [[
                    {field: 'id', title: 'id'}
                    , {field: 'encode', title: '按钮编码'}
                    , {field: 'name', title: '按钮名称'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
                ]]
            });

            // 表格重载
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');
                    //执行重载
                    table.reload('demo', {
                        where: { //设定异步数据接口的额外参数，任意设
                            key: $("#demoReload").val()
                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            };

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;

                // 编辑
                if (obj.event === 'update') {
                    $("#id-update-inform").val(data.id);
                    $("#encode-update-input").val(data.encode);
                    $("#name-update-input").val(data.name);
                    layer.open({
                        type: 1,
                        area: ['300px', '250px'],
                        title: '编辑'
                        , content: $("#update-form"),
                        shade: 0,
                        btn: ['提交']
                        , btn1: function (index, layero) {
                            $.ajax({
                                url:"/permission/common",
                                type:"put",
                                dataType: "json",
                                data:$("#update-form").serialize(),
                                success:function (e){
                                    if (e.flag){
                                        layer.closeAll();
                                        window.location.href = "/page/permission-manage";
                                    }
                                }
                            })
                        },
                        cancel: function (layero, index) {
                            layer.closeAll();
                        }
                    });
                }
            });

            // 搜索点击事件
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            // 添加新角色事件
            $("#insert-button").click(function (){
                layer.open({
                    type: 1,
                    area: ['300px', '250px'],
                    title: '添加',
                    content: $("#update-form"),
                    shade: 0,
                    btn: ['提交']
                    , btn1: function (index, layero) {
                        $.ajax({
                            url:"/permission/common",
                            type:"post",
                            dataType: "json",
                            data:$("#update-form").serialize(),
                            success:function (e){
                                if (e.flag){
                                    layer.closeAll();
                                }
                            }
                        })
                    },
                    cancel: function (layero, index) {
                        layer.closeAll();
                    }
                });
            });
        });
    </script>
    <script>
        !function () {
            //无需再执行layui.use()方法加载模块，直接使用即可
            var form = layui.form
                , layer = layui.layer;
            //…
        }();
    </script>
</head>
<body>
<div>
    <div class="demoTable">
        按钮：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <button class="layui-btn" data-type="reload" id="insert-button">新增</button>
    </div>
    <div>
        <!--list-->
        <table id="demo" lay-filter="test"></table>
    </div>
    <div>
        <a href="/page/index">回到index</a>
    </div>
</div>
<!-- 权限更新表单 -->
<form class="layui-form" id="update-form" style="display:none">
    <div>
        <input type="hidden" name="id" id="id-update-inform">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮编码</label>
        <div class="layui-input-block">
            <input type="text" name="encode" class="layui-input" id="encode-update-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" id="name-update-input">
        </div>
    </div>
</form>
<!-- 权限添加表单 -->
<!--<form class="layui-form" id="insert-form" style="display:none">
    <div class="layui-form-item">
        <label class="layui-form-label">按钮编码</label>
        <div class="layui-input-block">
            <input type="text" name="encode" class="layui-input" id="encode-insert-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" class="layui-input" id="name-insert-input">
        </div>
    </div>
</form>-->
</body>
</html>