<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user-login</title>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script>
        $(function () {
            $("#renew").click(function () {
                // 加时间戳，防止浏览器利用缓存
                const src = "/getVerifyCode?" + new Date().getTime();
                $('.verifyCode').attr("src", src);
                return false;
            })
            $("#login-form").submit(function () {
                $.post("/consumer/login", $(this).serialize(), function (e) {
                    if (e) {
                        alert("登录成功");
                        window.location.href = "/page/index";
                    } else {
                        alert("用户名或密码或验证码错误");
                    }
                }, "json");
                return false;
            });
        });
    </script>
</head>
<body>
<div>
    <form id="login-form" action="#">
        <div>
            <label for="name-input">用户名：</label>
            <input id="name-input" type="text" name="name">
        </div>
        <div>
            <label for="password-input">密码：</label>
            <input id="password-input" type="text" name="password">
        </div>
        <div>
            <label for="verify-input">验证码：</label>
            <input id="verify-input" type="text" name="verify">
            <img src="/getVerifyCode" class="verifyCode">
            <button id="renew">刷新</button>

        </div>
        <div>
            <input type="submit" value="登录">
            <input type="checkbox">30天自动登录
        </div>
        <div>
            <hr>
            超级账户：<br>
            用户名：admin<br>
            密码：123<br>
            请开启redis服务端！！！<br>
        </div>
    </form>
</div>
</body>
</html>